@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap-grid";
@import "~ngx-toastr/toastr";  // 👉 Import toastr styles

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
